/*
besiix.com main stylesheet 
	by Sean Wilson

 ====COLOUR PALETTE FOR BESIIX====
 Grey 		= #2B2B2B
 Dark Grey	= #1A1A1A
 Blue       = #3690FF
 Green      = #6BE01D
 =================================
 */

@font-face {
	font-family: "coolvetica";
	src: url("../fonts/coolvetica/coolvetica.ttf");
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #1A1A1A;
	font: small/1em Verdana, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

/*================ MAIN CONTAINER ==============*/
#mainContainer {
	display: table;
	width:100%;
	margin-bottom: -50px;
}

#leftDiv, #middleDiv, #rightDiv {
	display: table-cell;
}

#leftDiv {
	background: #1A1A1A url(../images/MyComputer.JPG) no-repeat center top;
	background-size: auto 100%;
	text-align: right;
}

#middleDiv {
	background: #1A1A1A url(../images/Me.JPG) no-repeat center top;	
	background-size: auto 100%;
	text-align: center;
}

#rightDiv {
	background: #1A1A1A url(../images/Black.JPG) no-repeat center top;	
	background-size: auto 100%;
	text-align: left;
}

.categoryCover {
	background-color: #1A1A1A;
}

.categoryTitle {
	font-size: 2em;
	line-height: 1;
	color: white;
	padding-top: 540px;
	padding-bottom: 80px;
}

/*=================== BANNER ===================*/
#banner {
	background-color: #2B2B2B;
	font: 2em coolvetica, Arial, sans-serif;
	text-align: center;
	color: white;
	position: absolute;
	top: 60%;
	width: 100%;
}

#bannerHeader {
	font-size: 5em;
}

/*=================== FOOTER ===================*/
footer {
	position: relative;	
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 50px;
}


.socialMediaIcon {
	background-image: url(../thumbnails/socialMediaIcons75x75.png);
	background-size: 500%;
	list-style: none;
	position: absolute;
}

.socialMediaIcon, .socialMediaIcon > a {
	display: block;
	width: 50px;
	height: 50px;
}

#linkedInIcon {
	background-position: 50% 0;
	left: 0px;
}

#githubIcon {
	background-position: 100% 0;
	left: 50px;
}

#twitterIcon {
	background-position: 25% 0;
	left: 100px;
}

#skypeIcon {
	background-position: 0 0;
	left: 150px;
}

#steamIcon {
	background-position: 75% 0;
	left: 200px;
}