/*
besiix.com main stylesheet 
	by Sean Wilson

 ====COLOUR PALETTE FOR BESIIX====
 Grey 		= #2B2B2B
 Dark Grey	= #1A1A1A
 Blue       = #3690FF
 Green      = #6BE01D
 =================================
 */

@font-face {
	font-family: "coolvetica";
	src: url("../fonts/coolvetica/coolvetica.ttf");
}

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
	min-height: 210px;
}

body {
	background-color: #1A1A1A;
	font: small/1em Verdana, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

h1, h2 {
	font-weight: normal;
}

/*================ MAIN CONTAINER ==============*/
#mainContainer {
	display: table;
	width: 100%;
	height: 100%;
	margin-bottom: -50px;
}

#leftDiv, #middleDiv, #rightDiv {
	display: table-cell;
}

#leftDiv {
	background: #1A1A1A url(../images/MyComputer800.jpg) no-repeat center top;
	background-size: auto 100%;
}

#middleDiv {
	background: #1A1A1A url(../images/Me800.jpg) no-repeat center top;	
	background-size: auto 100%;
}

#rightDiv {
	background: #1A1A1A url(../images/Nao800.jpg) no-repeat center top;	
	background-size: auto 100%;
}

.categoryCover {
	background-color: #1A1A1A;
	height: 100%;
	width: 100%;
	position: relative;
}

.categoryTitle {
	font-size: 2em;
	line-height: 1;
	color: white;
	position: absolute;
}

@media (min-width: 1500px) {
	#leftTitle {
		right: 5%;
	}
	#middleTitle {
		left: 40%;
	}
	#rightTitle {
		left: 0%;
	}
}

@media (max-width: 1499px) {
	#leftTitle {
		right: 5%;
	}
	#middleTitle {
		left: 35%;
	}
	#rightTitle {
		left: 5%;
	}
}
@media (max-width: 1199px) {
	#leftTitle {
		right: 5%;
	}
	#middleTitle {
		left: 30%;
	}
	#rightTitle {
		left: 5%;
	}
}
@media (max-width: 1099px) {
	#leftTitle {
		right: 5%;
	}
	#middleTitle {
		left: 25%;
	}
	#rightTitle {
		left: 5%;
	}
}
@media (max-width: 300px) {
	#leftTitle {
		right: 20%;
	}
	#middleTitle {
		left: 20%;
	}
	#rightTitle {
		left: 10%;
	}
}

/*=================== BANNER ===================*/
#banner {
	background-color: #2B2B2B;
	font: 2em coolvetica, Arial, sans-serif;
	text-align: center;
	color: white;
	position: absolute;
	width: 100%;
}


@media (min-width: 651px) {
	#banner {
		top: 60%;
	}
	#bannerHeader {
		font-size: 5em;
	}
	.categoryTitle {
		bottom: 10%;
	}
}

@media (max-height: 650px) {
	#banner {
		top: 55%;
	}
	#bannerHeader {
		font-size: 4em;
	}
	.categoryTitle {
		bottom: 10%;
	}
}

@media (max-height: 500px) {
	#banner {
		top: 0;
	}
	#bannerHeader {
		font-size: 3em;
	}
	.categoryTitle {
		bottom: 15%;
	}
}

/*=================== FOOTER ===================*/
footer {
	position: relative;	
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 50px;
}


.socialMediaIcon {
	background-image: url(../thumbnails/socialMediaIcons75x75.png);
	background-size: 500%;
	list-style: none;
	position: absolute;
}

.socialMediaIcon, .socialMediaIcon > a {
	display: block;
	width: 50px;
	height: 50px;
}

#linkedInIcon {
	background-position: 50% 0;
	left: 0px;
}

#githubIcon {
	background-position: 100% 0;
	left: 50px;
}

#twitterIcon {
	background-position: 25% 0;
	left: 100px;
}

#skypeIcon {
	background-position: 0 0;
	left: 150px;
}

#steamIcon {
	background-position: 75% 0;
	left: 200px;
}